.doQuestionPage{
  .title {
    margin-bottom: 48px;
    margin-top: 50px;
  }

  .options-wrapper {
    margin-bottom: 48px;
  }

  .controllBtn {
    margin: 24px 48px;
    margin-bottom: 30px;
  }

}
